{% extends 'base.html' %}

{% block title %}
home page
{% endblock title %}

{% block content %}

<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>JascCafe</h4>
                        <h6>THE BEST EXPERIENCE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="../static/images/slide-01.jpg" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="../static/images/slide-02.jpg" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="../static/images/slide-03.jpg" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Chefs Area Starts ***** -->

<div style="margin-left:610px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="section-heading">
                <p style="margin-top: 80px;"></p>
                <h2 style="font-size: 50px;">Contacts</h2>
            </div>
        </div>
    </div>
  </div>
<section class="section" id="reservation" style="margin-top:40px ;">
    <div class="container">
        <div class="row" style="margin-left: 400px;size: 100px;">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <p style="font-size: 30px;">Contact us by our phone number or email address</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a href="#">+998-33-123-44-45</a><br><a href="#">+998-91-400-99-45</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">bafaevvv@gmail.com</a><br><a href="#">shadiyevvv@gmail.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </section>
    
{% endblock content %}